.backhome{
    border: transparent !important;
    padding-left: 97%;
    font-size: 35;
    font-weight:bolder;
    background-color: whitesmoke;
}
.backhome.hover{
    border: none;
    background-color: whitesmoke;
}
